/* Ensure the page grows naturally */
html, body {
    height: 100%; /* Allow the page to take full height */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: auto; /* Make sure we can scroll if content overflows */
}

/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f1e6f7;
    color: #6a4c9c;
    display: block; /* Reset flex to normal block */
}

/* Header styling */
h1 {
    color: #6a4c9c;
    font-size: 2rem;
    margin: 20px;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(249, 79, 255, 0.37);
    padding: 10px;
    border-radius: 8px;
}

/* Table styling */
#foodWasteTable {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    table-layout: fixed;
}

/* Table header styling */
#foodWasteTable th, #foodWasteTable td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

#foodWasteTable th {
    background-color: #f1f1f1;
}

/* Row alternating background color */
#foodWasteTable tr:nth-child(even) {
    background-color: #f9f9f9;
}

#foodWasteTable tr:nth-child(odd) {
    background-color: #fff;
}

/* Prevent cutting off content in table cells */
#foodWasteTable td {
    white-space: nowrap; /* Prevent wrapping */
    overflow: hidden; /* Prevent overflow of text */
}

/* Wrapper for the table to handle overflow */
#foodWasteTableWrapper {
    max-height: none; /* Do not limit height */
    overflow: visible; /* Allow the table to grow as necessary */
}

#getRecipesBtn {
    background-color: #6a4c9c;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

#getRecipesBtn:hover {
    background-color: #6a4c9c;
}

#purpleBtn {
    background-color: #6a4c9c;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease;
}

#purpleBtn:hover {
    background-color: #6a4c9c;
}

#storeSelect {
    background-color: #fff;
    color: #6a4c9c;
    border: 1px solid #ddd;
    padding: 12px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 20px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    min-width: 75px; /* Ensure a minimum width */
    box-sizing: border-box; /* Prevent padding from increasing the width */
}

#storeSelect:hover {
    background-color: #f1e6f7;
    border-color: #6a4c9c;
}





